### 변수 : 어떠한 값을 저장하는 그릇

# 1. 변수

## 변수 : 값을 저장할 때 사용하는 식별자
## 변수명 = 값

### 변수의 종류

In [8]:
num = 10 #정수형 변수

In [9]:
str = '홍길동' #문자열 변수

In [10]:
lst = [1,2,3] #리스트 변수

### 변수의 자료형 확인

In [11]:
type(num)

int

In [12]:
type(str)

str

In [13]:
type(lst)

list

#### 파이썬의 동적 타이핑 언어 특징, 저당된 값의 자료형에 의해 변수 자료형 결정
#### 변수는 얼마든지 값을 변경할 수 있는데, 변경 가능한 변수에 의도하지 않은 값이 전달되면, 변수의 자료형이 변경됨.

In [14]:
a = 3.14 #float
a = '파이썬' #str 
a = True #bool

In [16]:
a # 변수는 하나의 자료만 사용하자

True

### 변수명 : 문자 + 숫자 + _
숫자로 시작하는 변수는 만들 수 없으며, 대소문자는 꼭 구분해야함

### 파어썬의 예약어로 사용할 수 없는 변수명
False class finally is return  
None continue for lambd try  
True def from nonlocal while  
and dle global not with  
as elif if or yield
assert else import pass  
break except in raise

### 변수와 객체

In [20]:
var1 = 10 #메모리 공간에 정수 10의 값을 가진 객체 생성
var2 = 10 
var1 is var2 #두 변수가 동일 객체 참조

True

In [21]:
var3 = 20 
var1 is var3 #두 변수가 다른 객체를 참조

False

## 변수와 자료형

### Bool : 참 거짓을 판단하는 표현식에 사용하는 자료형 True와 False 값을 가짐.  관계 연산자, 논리 연산자를 사용하는 표현식이 Bool 값 반환

In [22]:
x, y = 10,20

In [23]:
x

10

In [24]:
y

20

In [26]:
x < y # 10 < 20

True

In [27]:
x >y

False

In [29]:
#Bool 값을 반환하는 논리 연산
under18 = False
male = True
under18 and male #under18과 male 모두 True인가 ?

False

In [30]:
#조건문에서 사용되는 Bool 값
if under18:
    print('미성년자입니다.')
else : 
    print('성년입니다.')

성년입니다.

### Tuple : ()안에 서로 다른 자료형의 값을 콤마(,)로 구분해 하나 이상 저장할 수 있는 컬렉션 자료형 
### 0부터 시작하는 인덱스를 이용해 접근할 수 있음 한 번 저장된 항목은 변경할 수 없음

In [41]:
student = ("홍길동",20)
student

('홍길동', 20)

In [38]:
student[0] #숫자는 index

'홍길동'

In [42]:
student[1]

20

In [43]:
student [2] #인덱스 에러 : 두 개의 원소만 가지고 있기 때문

IndexError: tuple index out of range

In [44]:
student[1] = 21 #에러 : 튜플은 한 번 저장한 값을 변경할 수 없음

TypeError: 'tuple' object does not support item assignment

In [46]:
student= ('임꺽정',30)
student #student는 변수이므로 새로운 객체를 참조하는 것은 괜찮아

('임꺽정', 30)

### list: []안에 서로 다른 자료형의 값을 콤마(,)로 구분해 하나 이상 저장할 수 있는 컬렉션 자료형
### 0부터 시작하는 인덱스를 이용해 접근할 수 있음
### 한 번 저장된 항목도 변경할 수 있음

In [59]:
student = ['홍길동', 20]
student

['홍길동', 20]

In [60]:
student[0]

'홍길동'

In [61]:
student[1]

20

In [63]:
student[1] = 21
student[1] #항목값 변경 가능

21

In [64]:
student = ['임꺽정', 30]

### set : {}안에 서로 다른 자료형의 값을 (,)로 구분해 하나 이상 저장할 수 있는 자료형 
### 순서의 개념이 존재하지 않아 인덱스를 사용할 수 없음 
### 데이터 항목의 중복을 허용하지 않음

In [72]:
student = {"홍길동", "이순신", "강감찬", "홍길동"}
student #홍길동이 중복되어 한 개 제거
len(student)

3

In [73]:
student[0] #인덱스를 이용해 개별항목 접근 불가

TypeError: 'set' object is not subscriptable

In [75]:
student |= {"을지문덕", "이순신"} #집합의 개념을 가지고 있는 자료구조로 합집합 연산자 제공
student

{'강감찬', '을지문덕', '이순신', '홍길동'}

In [76]:
student = {"임꺽정", 30}
student

{30, '임꺽정'}

### Dictionary : {}안에 키:값 형식의 항목을 콤마(,)로 구분해 하나 이상 저장할 수 있는 컬렉션 자료형 
### 키를 이용해 값을 읽어 올 수 있음 
### 항목을 추가할 때 동일키가 없으며 새로운 항목 추가, 동일키가 있으면 저장된 항목 변경
### 일반적으로 문자열이나 정수형 사용

In [80]:
dogs = {1 : "골든리트리버", 2:"진돗개", 3:"보더콜리"}
dogs

{1: '골든리트리버', 2: '진돗개', 3: '보더콜리'}

In [81]:
dogs[1]

'골든리트리버'

In [82]:
dogs[2]

'진돗개'

In [83]:
dogs[3]

'보더콜리'

In [84]:
dogs[4] #3까지밖에 없기 때문에, 4는 안나옴

KeyError: 4

In [87]:
dogs[2] = "레브라도리트리버" #항목을 추가할 때, 동일키가 있으면 저장된 항목을 변경함 
dogs

{1: '골든리트리버', 2: '레브라도리트리버', 3: '보더콜리'}

In [89]:
dogs["4"] = '알래스카말라뮤트' #동일키가 없으면 새로운 항목 추가 
dogs
#but 해당 경우는 문자열 "4"로 키를 등록한 상태

{1: '골든리트리버', 2: '레브라도리트리버', 3: '보더콜리', '4': '알래스카말라뮤트'}

In [90]:
dogs[4]

KeyError: 4

In [91]:
dogs["4"]

'알래스카말라뮤트'

In [92]:
dogs = {}

In [93]:
dogs

{}

### None : None 객체를 이용해 널(null)객체 상태를 표현함 
### 널(null) = 객체가 존재하지 않는 상태를 나타내는 것

In [95]:
obj #name error 메모리에 obj가 없기 때문

NameError: name 'obj' is not defined

In [96]:
obj = None # obj에 어떠한 값도 저장하고 싶지 않을 경우 None 객체 저장 
obj

In [97]:
obj is None

True

In [99]:
obj == None

True

In [103]:
if obj:
    print('obj는 not None')
else: 
    print('obj는 None')
### none은 False로 판단됨

obj는 None

In [106]:
if not obj: #obj가 None 이므로 False로 평가, not 연산되어 True 반환
    print('obj는 none')
else: 
    print('obj = not none')
### none은 False로 판단됨

obj는 none

## 변수의 생성 및 제거

'=' 대입 연산자
변수는 기본적으로 한 번에 하나씩 생성하지만, 그 이상의 변수를 한 번에 생성할 수도 있음

In [116]:
x = y = 10 #,로

In [117]:
x

10

In [118]:
y

10

In [119]:
x,y = (10,20) #튜플로
x

10

In [120]:
y

20

In [121]:
x,y = [10,20] #리스트로

In [122]:
x

10

In [123]:
y

20

In [124]:
x, y = y, x #변수의 값 교체

In [125]:
x

20

In [126]:
y

10

### 변수의 제거
### del()

In [127]:
x,y = 10,20

In [128]:
x

10

In [129]:
y

20

In [130]:
del(x)

In [131]:
x

NameError: name 'x' is not defined

In [132]:
del(y)

In [133]:
y

NameError: name 'y' is not defined